.square {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-family: "Mali";
    border: 0.5px solid green;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.game {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    flex-direction: row;
    background-color: antiquewhite

}