.square {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: white;
    font-family: "Mali";
    border: 0.5px solid gray;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* height: 80%;
    width: 80%; */
}

.boardContainer {
    max-height: 400px;
    overflow-y: scroll;
    max-width: 400px;
     overflow-x: scroll
}

.infomation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
