.square {
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: white;
    font-family: "Mali";
    border: 0.5px solid gray;
}
.valueX {
    color: black;
}
.valueO {
    color: red;
}
.row {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    

}
.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* height: 80%;
    width: 80%; */
}
/* .board{ 
    overflow-y: scroll;
    overflow-x: scroll
} */
.boardContainer {
    max-height: 300px;
    overflow-y: scroll;
    max-width: 300px;
    overflow-x: scroll;
    padding: 10px 2px 2px 2px;
}

.infomation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.winner {
    color: red;
    font-size: 36px;
}